<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- MSN Search -->
    <add key="MSNUrl" value="https://api.cognitive.microsoft.com/bing/v7.0/search"/>
    <add key="MSNKey" value=""/>
    <!-- Google -->
    <add key="GoogleUrl" value="https://www.googleapis.com/customsearch/v1?key={0}&amp;cx={1}&amp;q={2}"/>
    <add key="GoogleKey" value=""/>
    <add key="GoogleCXKey" value=""/>
  </appSettings>
</configuration>